<h1 class="mt-3">Pipes <small>Angular</small></h1>
<hr />
<div class="row container">
  <div class="col">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th>Variable</th>
          <th>Pipe</th>
          <th>Salida</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{nombre2}}</td>
          <td>Capitalizado nuestro pipe</td>
          <td>{{nombre2 | capitalizado}}</td>
        </tr>

        <tr>
          <td>{{nombre}}</td>
          <td>Uppercase</td>
          <td>{{nombre | uppercase}}</td>
        </tr>

        <tr>
          <td>{{nombre}}</td>
          <td>Lowercase</td>
          <td>{{nombre | lowercase}}</td>
        </tr>

        <tr>
          <td>{{Personajes}}</td>
          <td>slice:1:5</td>
          <td>{{Personajes | slice:1:5}}</td>
        </tr>

        <tr>
          <td>{{PI}}</td>
          <td>number:'3.0-0'</td>
          <td>{{PI | number:'3.0-0'}}</td>
        </tr>

        <tr>
          <td>{{porcentaje}}</td>
          <td>percent</td>
          <td>{{porcentaje | percent}}</td>
        </tr>

        <tr>
          <td>{{salario}}</td>
          <td>currency:'CAD$ ':'symbol':'.0-0'</td>
          <td>{{salario | currency:'CAD$ ':'symbol':'.0-0'}}</td>
        </tr>

        <tr>
          <td>{{valorPromesa}}</td>
          <td>Async</td>
          <td>{{valorPromesa | async}}</td>
        </tr>

        <tr>
          <td>{{fecha}}</td>
          <td>Date</td>
          <td>{{fecha | date:'MMMM - dd'}}</td>
        </tr>

        <tr>
          <td>{{fecha}}</td>
          <td>Date</td>
          <td>{{fecha | date:'MMMM - dd':'':'en'}}</td>
        </tr>

      </tbody>
    </table>
  </div>

  <h4>Slice</h4>
  <ul>
    <li *ngFor="let item of Personajes | slice:1:20">{{item}}</li>
  </ul>

  <h4>Json</h4>
  <hr />
  <div class="row mb-5">
    <div class="col">
      <pre>
      {{heroe | json}}
      </pre>
    </div>
  </div>
</div>

<h3>Dom Seguro</h3>
<hr />

<div class="row mb-5">
<div class="col">
  <iframe width="560" height="315" [src]="videoUrl | domseguro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
</div>

